.color-btn {
    background-color: white;
    border: 6px solid var(--color);
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    margin: 1px 5px;
    transition: background-color 0.25s, transform 0.05s ease-in-out;
    font-size: 1.3em;
    overflow: hidden;
    cursor: pointer;
}

.color-btn-pressed {
    background-color: var(--color);
    transition: background-color 0.25s;
}

.color-btn:hover,
.color-btn:focus {
    transform: scale(1.05);
}