/* Skeleton Loading */

tbody.skeleton {
    position: relative;
}

tbody.skeleton::before {
    content: '';
    /* display: block; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: skeleton-loading 0.75s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Table Styling */

table {
    border-collapse: collapse;
    margin-left: 80px;
}

td {
    width: 60px;
    height: 3px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.border {
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 13px;
}

/* Hour Marks */

/* We user an after element to display the hour marks instead of a border
because the grayscale from the focus mode will erase the hour marks */
tr.hour {
    position: relative;
}

tr.hour::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: none; /* ensures that clicking directly on the line still means that you still get the message */
    z-index: 2;
}

td.time {
    position: relative;
}

td.time::before {
    content: var(--time);
    position: absolute;
    left: -70px;
    top: -10px;
    pointer-events: none; /* ensures that clicking the times do not give the court one message */
    user-select: text;
}