/* Skeleton Loading */

tbody.skeleton {
    position: relative;
}

tbody.skeleton:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: skeleton-loading 0.75s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Table Styling */

table {
    border-collapse: collapse;
    margin-left: 80px;
}

td {
    width: 60px;
    height: 3px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.border {
    /* position: relative; */
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 13px;
}

.new_div {
    height: 2px;
    background-color: rgb(0, 0, 0, 0.13);
    z-index: 2;
}