#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hbox {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

.modal-button {
    margin-top: 40px;
    height: 100px;
    width: 400px;
    font-size: 40px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog {
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    padding: 50px;
}

@media (max-width: 800px) {
    #controls {
        flex-direction: column;
    }
}